 
<div class="contact">
<form>
        <h3>Contact Us</h3>
    <label for="name">NAME</label><br>
        <input type="text" id="name" name="name" placeholder="Jira Martins"><br>
    <label for="email">EMAIL</label><br>
        <input type="text" id="email" name="email" placeholder="Hello@reallygreatsite.com" ><br>
    <Label for="message">MESSAGE</Label><br>
        <textarea id="message" name="message" placeholder="Write your message here"></textarea><br>
        <input type="submit" id="msg_btn" value="Send the message">
</form>
</div>       