
form{
  padding-top: 8%;
}





  input[type="submit"] {
    background-color: rgb(219, 79, 102);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 800%;
  }
  
 
  input[type="submit"]:hover {
    background-color: rgb(190, 60, 80);
  }


  

  
  